<div class="mb-4 text-center">
  <h1>Password change</h1>
  <span>If you have changed your password, you will be logged out.</span>
</div>
<form #myForm="ngForm" action="" class="form-container">

  <div class="d-flex justify-content-center mb-2">
    <mat-form-field appearance="outline">
      <mat-label>Enter your old password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="oldPasswordFormControl"
        [(ngModel)]="userData.old_password" #userPassword required>
      <button mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="oldPasswordFormControl.hasError('required')">
        Your old password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="d-flex justify-content-center mb-2">
    <mat-form-field appearance="outline">
      <mat-label>Enter your new password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="newPasswordFormControl"
        [(ngModel)]="userData.new_password" #userPassword required>
      <button mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="newPasswordFormControl.hasError('required')">
        a new password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <mat-dialog-actions class="d-flex justify-content-between mobile">
    <button mat-flat-button mat-button mat-dialog-close>
      <mat-icon class="me-2">close</mat-icon>Close
    </button>
    <button mat-flat-button color="primary" [mat-dialog-close]="myForm" [disabled]="!myForm.valid"
      (click)="changePassword()" type="submit" class="submit-btn-design">
      <mat-icon class="me-2">sync_alt</mat-icon>Update Password
    </button>
  </mat-dialog-actions>

</form>
