$colorDark: rgb(42, 54, 71);
$colorLight: rgb(41, 171, 226);

.submit-btn-design {
  background-color: $colorDark;
}

.form-container {
  .mat-form-field {
    width: 100% !important;
  }
}

@media(max-width: 450px) {
  .mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* Transparent autofill-input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
}
