<div class="d-flex justify-content-between top-menu">
  <button mat-flat-button mat-button mat-dialog-close>
    <mat-icon>clear</mat-icon>Close
  </button>
  <button mat-flat-button mat-button (click)="openEditDialog()" mat-dialog-close>
    <mat-icon class="me-2">edit</mat-icon>Edit
  </button>
</div>

<div>
  <mat-dialog-content class="mat-typography border">
    <div class="board-container d-flex flex-column">
      <div class="px-3 py-3 d-flex row mx-0 mobile-categories">

        <div class="d-flex justify-content-center name-categorie col mx-2 my-2">
          <span>{{task.assigned_to.first_name}} {{task?.assigned_to.last_name}}</span>
        </div>

        <div *ngIf="task?.category== 'Sales'" class="d-flex justify-content-center sales-categorie col my-2 mx-2">
          <span>{{task.category}}</span>
        </div>

        <div *ngIf="task?.category == 'Backoffice'"
          class="d-flex justify-content-center backoffice-categorie my-2 mx-2">
          <span>{{task.category}}</span>
        </div>

        <div *ngIf="task?.category == 'Marketing'" class="d-flex justify-content-center marketing-categorie my-2 mx-2">
          <span>{{task.category}}</span>
        </div>
      </div>

      <div class="row title-description-container d-flex flex-column px-3">
        <h3 class="col wrap-text">{{task.title}}</h3>
        <span class="col wrap-text">{{task.description}}</span>
      </div>



      <div class="row px-3 py-3 mobile-change">
        <div class="col d-flex flex-column">
          <span class="color">Upcoming Deadline</span>
          <span>{{task.upcoming_deadline | date:'MMMM d, y'}}</span>
        </div>

        <div class="row col d-flex align-items-end">
          <div class="d-flex align-items-center flex-column">
            <span class="color">Priority</span>
            <mat-icon class="urgent-priority" *ngIf="task?.priority == 'Urgent'">
              keyboard_double_arrow_up
            </mat-icon>

            <mat-icon class="medium-priority" *ngIf="task?.priority == 'Medium'">drag_handle
            </mat-icon>

            <mat-icon class="low-priority" *ngIf="task?.priority == 'Low'">keyboard_double_arrow_down
            </mat-icon>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>


  <div>
    <mat-dialog-actions class="d-flex justify-content-center">
      <div class="d-flex buttons">
        <div matTooltip="Only for management">
          <button class="me-3 tablet-button" [disabled]="!this.authenticationService.currentUserData?.is_staff"
            mat-flat-button color="warn" (click)="openDeleteDialog()" mat-dialog-close>
            <mat-icon class="me-2">delete</mat-icon>Delete
          </button>
          <button class="me-3 mobile-button" [disabled]="!this.authenticationService.currentUserData?.is_staff"
            mat-flat-button color="warn" (click)="openDeleteDialog()" mat-dialog-close>
            <mat-icon>delete</mat-icon>
          </button>
        </div>

        <div>
          <button class="btn-design tablet-button" mat-flat-button *ngIf="task?.todo == true" mat-button
            (click)="openPushtoNextDialog()" [mat-dialog-close]="true" cdkFocusInitial color="primary">
            <mat-icon class="me-2">arrow_forward</mat-icon>Push to In Progress
          </button>
          <button class="btn-design mobile-button" mat-flat-button *ngIf="task?.todo == true" mat-button
            (click)="openPushtoNextDialog()" [mat-dialog-close]="true" cdkFocusInitial color="primary">
            <mat-icon>arrow_forward</mat-icon>
          </button>


          <button class="btn-design tablet-button" mat-flat-button *ngIf="task?.in_progress == true" mat-button
            (click)="openPushtoNextDialog()" [mat-dialog-close]="true" cdkFocusInitial color="primary">
            <mat-icon class="me-2">arrow_forward</mat-icon>Push to Awaiting Feedback
          </button>
          <button class="btn-design mobile-button" mat-flat-button *ngIf="task?.in_progress == true" mat-button
            (click)="openPushtoNextDialog()" [mat-dialog-close]="true" cdkFocusInitial color="primary">
            <mat-icon>arrow_forward</mat-icon>
          </button>

          <div matTooltip="Only for management">
            <button class="btn-design tablet-button" [disabled]="!this.authenticationService.currentUserData?.is_staff"
              mat-flat-button *ngIf="task?.awaiting_feedback == true" mat-button (click)="openPushtoNextDialog()"
              [mat-dialog-close]="true" cdkFocusInitial color="primary">
              <mat-icon class="me-2">arrow_forward</mat-icon>Push to Done
            </button>
            <button class="btn-design mobile-button" [disabled]="!this.authenticationService.currentUserData?.is_staff"
              mat-flat-button *ngIf="task?.awaiting_feedback == true" mat-button (click)="openPushtoNextDialog()"
              [mat-dialog-close]="true" cdkFocusInitial color="primary">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>

          <div matTooltip="Only for management">
            <button class="btn-design tablet-button" [disabled]="!this.authenticationService.currentUserData?.is_staff"
              mat-flat-button *ngIf="task?.done == true" mat-button (click)="openPushtoNextDialog()"
              [mat-dialog-close]="true" cdkFocusInitial color="primary">
              <mat-icon class="me-2">arrow_forward</mat-icon>Push to History
            </button>
            <button class="btn-design mobile-button" [disabled]="!this.authenticationService.currentUserData?.is_staff"
              mat-flat-button *ngIf="task?.done == true" mat-button (click)="openPushtoNextDialog()"
              [mat-dialog-close]="true" cdkFocusInitial color="primary">
              <mat-icon>arrow_forward</mat-icon>
            </button>

            <button class="btn-design tablet-button" [disabled]="!this.authenticationService.currentUserData?.is_staff"
              mat-flat-button *ngIf="task?.history == true" mat-button (click)="openPushtoNextDialog()"
              [mat-dialog-close]="true" cdkFocusInitial color="primary">
              <mat-icon class="me-2">arrow_forward</mat-icon>Push to Board
            </button>
            <button class="btn-design mobile-button" [disabled]="!this.authenticationService.currentUserData?.is_staff"
              mat-flat-button *ngIf="task?.history == true" mat-button (click)="openPushtoNextDialog()"
              [mat-dialog-close]="true" cdkFocusInitial color="primary">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-dialog-actions>
  </div>

</div>
