<div class="sign-in-flex">
  <div class="sign-in-container">
    <h1 class="my-2">Confirm Password</h1>
    <span class="my-4">Please choose a secure password and paste the token that was sent to you by email into the token field.</span>
    <form class="form-class" action="">

      <mat-form-field appearance="outline">
        <mat-label>Set your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordFormControl"
          [(ngModel)]="userdata.password" #userPassword required>
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordFormControl.hasError('email') && !passwordFormControl.hasError('required')">
          Please Set your password.
        </mat-error>
        <mat-error *ngIf="passwordFormControl.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="my-2" appearance="outline">
        <mat-label>Token</mat-label>
        <input type="text" matInput [formControl]="tokenFormControl" [(ngModel)]="userdata.token"
          placeholder="token">
        <mat-error *ngIf="passwordFormControl.hasError('email') && !tokenFormControl.hasError('required')">
          Please enter a valid token.
        </mat-error>
        <mat-error *ngIf="tokenFormControl.hasError('required')">
          Token is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <div class="d-flex justify-content-center">
        <button (click)="this.authenticationService.confirmPassword(this.userdata)" type="submit" class="submit-btn-design" mat-flat-button color="primary">Confirm</button>
      </div>
    </form>
  </div>
</div>
